/* About Me Css */ 

.main-wrapper{
    display: flex;
    justify-content: center;
}
.about-wrapper {
    padding: 2%;
    width: 1000px;
    background-image: url(https://cdn.shopify.com/s/files/1/2221/7525/products/Tilezz.com_Zellige2of3_1000px_05_26_22-05_1296x.jpg?v=1653920228);
    background-size: 600px 600px;
    box-shadow: 2px 5px 5px 4px black;
}

.about-wrapper > h2{
    text-align: center;
    padding: 2%;
    margin: 2%;
    background-color: #80691f;
    box-shadow: 2px 5px 5px 4px rgb(27, 27, 27);

}
.hobby-wrapper{
    border-top: 10px solid transparent;
}
.hobby {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 5px solid transparent;
    padding: 2%;
    margin: 2%;
    background-color: #80691f;
    box-shadow: 2px 5px 5px 4px rgb(27, 27, 27);


}

.clip {
    width: 100%;
    object-fit: cover;

}
.clip-image-1 {
    height: 80%;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}
.clip-image-2{
    height: 70%;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}
.clip-image-3{
    height: 60%;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.hobby .text-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 0% 10% 10% 10%;
    margin-top: -4px;

}
